# Update these with your Supabase details from your project settings > API
VITE_PUBLIC_SUPABASE_URL=https://something.supabase.co
VITE_PUBLIC_SUPABASE_ANON_KEY=88888888888888888888888888888888888888888888